/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}
.sp {
  display: none !important;
}
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
.pc {
  width: 50px;
  height: 50px;
}
.sp {
  height: 50px;
}
.card-body{
    background-color: #F39B4A;
}
h5{
  padding-top: 40px;
}